html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;  
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #efc1cf;
}

marquee{
    background-color: rgb(235, 230, 230);
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;    
    padding-bottom: 10px; 
    border-bottom: 1px solid gray;
    background-color: #f0b9ca;
    z-index:1;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.align-items-center {
    align-items: center !important;
}
.logo img {
    max-height: 50px;
    border: 0;
    float: left;
    margin-top: 0;
    vertical-align: top;
    margin-right: 0.5rem;
    padding-left:10px;
}
.logo span .small {
    font-size: 10px;
}
.row {
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin-right: -15px;
    margin-left: -15px;
}

.header-left {
  width: 80%;
  float: left;
}

.header-right {
    float: right;
    margin-right: 10px;
}

.text-left {
  float: left;  
}
.text-right {
  float: right;  
}

.card {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(235, 230, 230);
}

main {
    padding: 90px 15px 0px 15px;
}

.content {
    float: left;
    width: 70%;    
}

.sidebar {
    float: right;
    width: 26%;
    height: auto;
}

.wrapper-jadwal .item-jadwal {
    float: left;
    width: 20%;
    margin: 10px;
    background-color: rgba(226, 159, 159, 0.61);
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

@keyframes example {
    10% {background-color: rgb(220, 134, 134);}
    20% {background-color: rgb(217, 217, 124);}
    30% {background-color: rgb(110, 110, 214);}
    40% {background-color: rgb(127, 223, 127);}
    50% {background-color: rgb(88, 199, 219);}
    60% {background-color: rgb(151, 51, 143);}
    70% {background-color: rgb(193, 97, 122);}
    80% {background-color: rgb(225, 162, 240);}
    90% {background-color: rgb(240, 244, 164);}
    100% {background-color: rgb(162, 165, 199);}
}

h3.title {
    margin: 5px 10px;
    border-bottom: 2px solid #063807;
}

footer {
    padding: 90px 15px 0px 15px;
}

.content_footer {
    width: 100%;  
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    border: 1px solid gray;  
    border-radius: 4px;
    background-color: rgb(235, 230, 230);

}

